node_modules
dist
vendor
coverage
res/generate
res/pack

.env
.cache
*.log
package-lock.json
yarn.lock

# Editor directories and files
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
.idea
_ignore
__ignore
*.sw[a-z]
.netrwhist
Session.vim
Desktop.ini
ehthumbs.db
Thumbs.db
